page-login {
  // Fullscreen centered image background
  ion-content {
    background-image: linear-gradient(to right, #fff 0%, lighten($main-color, 40%) 100%);

    // background: linear-gradient(316deg, #76CC81, #3E657A, #247BA0, #f53d3d, #39466B,#5973BF, #B2ABBF, #F3FFBD);
    //background-size: 1200% 1200%;
    // animation: rainbow 30s linear infinite;
 
  }

  @keyframes rainbow {
    0% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

  // Slider
  // .content-slider {
  //   ion-slides,
  //   .swiper-container {
  //     height: 100%;
  //     width: auto;
  //   }
  // }

  .zoom .slide-zoom {
    // height: 100%;
    // margin-top: 35%;
 
  }

  // Content
  .scroll-content {
    // display: flex;
    // flex-direction: column;
    // overflow: hidden;
 
  }

  // .logo {
  //   height: auto;
  //   margin: 0 auto;
  //   padding-bottom: 10%;
  //   width: 100px;
  // }

  p {
    font-size: 1.6rem;
  }

  // span,
  p,
  h3,
  h1 {
    // color: white;
    color: black;
  }

  h1,
  h3 {
    font-weight: 300;
  }

  // Input items
  ion-label[floating] {
    //color: #ccc;
 
  }

  // ion-item {
  //   border-radius: 3px !important;
  //   margin-bottom: 5px !important;
  //   // color: #fff !important;
  //   color: #000 !important;
  //   //background-color: transparent !important;
  //   font-size: 0.9em;
  // }

  ion-input, ::-webkit-input-placeholder {
    // color: white !important;
    color: black !important;
  }

  ion-item {
    background: transparent !important;
  }

  .item-inner {
    border-bottom: 1px solid $main-color !important;
    box-shadow: none !important;
  }
}