<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" class="dismiss">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <span ion-text color="accent-sec" hideWhen="ios">CLOSE</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding-left padding-right text-left *ngIf="pages.no==0" [ngClass]="pages.class">
    <h1 item-start padding-horizontal>Sign In</h1>
    <ion-item padding-right>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item padding-right>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div margin-top>
      <button ion-button block (click)="login()">Login</button>
      <button no-padding ion-button clear (click)="slideNext()">FORGOT PASSWORD?</button>
    </div>
    <button no-padding clear text-left ion-button icon-right clear (click)="goToSignup()">
      GO TO SIGNUP
      <ion-icon end name="arrow-down"></ion-icon>
    </button>
    <h6 padding-top padding-bottom ion-text class=".animated .bounceIn" style='font-weight: 300'>
    We will send the confirmation link to reset your password.
     We will send the confirmation link to reset your password.
   </h6>
    <button block outline color="primary" ion-button (click)="billinginfo()">
      Checkout As Guest
    </button>
  </div>
  <div padding *ngIf="pages.no==1" [ngClass]="pages.class">
    <h1 text-left padding-horizontal>Forgot Password?</h1>
    <p text-left padding-horizontal>We will send the confirmation link to reset your password.</p>
    <ion-list>
      <ion-item padding-right>
        <ion-label floating>E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block (click)="resetPassword()">RESET PASSWORD</button>
      <button small ion-button icon-left float-left no-padding clear (click)="slidePrevious()">
        <ion-icon name="arrow-back"></ion-icon> GO BACK</button>
    </div>
  </div>
  <div padding-left padding-right text-left *ngIf="pages.no==2" [ngClass]="pages.class">
    <button small text-left margin-bottom ion-button icon-right clear (click)="goToLogin()">
      GO TO SIGNIN
      <ion-icon end name="arrow-up"></ion-icon>
    </button>
    <h1 padding-horizontal>Create account</h1>
    <p padding-horizontal>Lets join us to get tons of features.</p>
    <ion-item padding-right>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item padding-right>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item padding-right>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block (click)="signup()">SIGN UP</button>
    </div>
  </div>
</ion-content>
