<!--
  Generated template for the BillinginfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<script async defer src="https://maps.google.com/maps/api/js?sensor=false"
  type="text/javascript"></script>
<ion-header>

  <ion-navbar>
    <ion-title>Billing Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	   <span style="vertical-align: middle;">
	   	 Step 1 of 2 .Billing & shipping Information
	   </span>
		<ion-list-header class="billing_header">
			<div class="billing-header-text">
				Billing Information
			</div>
			<p class="billing-header-text-p">
				Please enter the billing address as it appears on your credit cart statment 
			</p>
		</ion-list-header>          
		<ion-list>
		  <ion-item>
		    <ion-label floating>First Name</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>
          
          <ion-item>
		    <ion-label floating>Last Name</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label floating>Username</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>

		   <ion-item>
		    <ion-label floating>Email-id</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>

		   <ion-item>
		    <ion-label floating>Mobile Number</ion-label>
		    <ion-input type="text"></ion-input>
		  </ion-item>
          
       <ion-item-group>
          <ion-item-divider color="light">Address</ion-item-divider>

 
          <ion-item>
			    <ion-input type="text"></ion-input>
		  </ion-item>  
          <ion-item>
		       <ion-input type="text"></ion-input>
		  </ion-item>
          <ion-item>
			    <ion-input type="text"></ion-input>
		  </ion-item>
		</ion-item-group>
         
           <ion-item>
				<ion-buttons end>
					<button ion-button color="btn">Continue</button>
				</ion-buttons>
		  </ion-item>    
		</ion-list>
</ion-content>
