page-billinginfo {
  .billing_header{
  	  margin-top:6px;
      background-color: lighten($main-color, $main-background-percent+-35%);
      color: #fff;
      font: {
        family: 'Roboto', 'Helvetica Neue', 'sans-serif';
        weight: 500;
      }
      padding: 6px;

    }
    .billing-header-text{
    	font-size:18px;
        margin-bottom:7px;

    }
    .billing-header-text-p{
      color:#fff;
    }
}
