page-category {
  .nav-left {
    ion-col {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .menu-toggle {
    margin: 0;
  }

  .home-btn {
    // background-color: $main-hover-color !important;
    color:  white !important;
    height: 32px;
    margin: 0;

  }

  .old-mrp {
    text-decoration: line-through;
  }

  .cur-mrp {
    color: $main-color !important;
  }

  .stock-left {
    color: $main-secondary-color !important;
  }

  ion-card {
    background-color: $main-hover-color !important;

    ion-item {
      padding: 0 !important;

      .a2c {

        i {
          color: $main-color !important;
          font: {
            size: 20px !important;
          }

          &:hover {
            color: darken(orange, 0%) !important;
          }
        }
      }
      ion-label,
      ion-thumbnail {
        margin: 0 !important;
      }
    }
ion-row{
  background-color: $main-hover-color !important;
}
  }

  h2,
  h3,
  .price {
    font: {
      size: 14px !important;
    }
  }

  h2 {
    white-space:normal;
  }

  h3 {
    color: darken($main-color, 20%) !important;
    font: {
      size: 10px;
      weight: bold;
    }
  }
}
