<ion-header>
  <ion-navbar>
    <ion-buttons left class="nav-left">
      <ion-row>
        <ion-col>
          <button ion-button icon-only menuToggle class="menu-toggle">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only clear class="home-btn" onClick="window.location.hash='/home'">
            <ion-icon ios="md-home" md="md-home"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="search.query" (ionInput)='searchBox()' placeholder="Search"></ion-searchbar>
  <div class="prod">
    <ion-grid>
      <ion-row align-self-center>
        <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 *ngFor=" let item of searchItems " style="text-align: center;">
          <ion-card>
            <ion-item>
              <ion-thumbnail item-start>
                <img [src]="item.src">
              </ion-thumbnail>
              <h2>{{item.name}}</h2>
              <h3>Complan</h3>
              <p class="price">
                <span class="old-mrp">
								<span><span>&#8377;</span>450</span>
                </span>
                <span class="cur-mrp"><span><span>&#8377;</span>{{item.price}}</span>/<span>500</span><span>{{item.unit}}</span></span>
              </p>
              <button ion-button icon-only clear item-end class="a2c" (click)="showProductDetails()"><i class="o o-cart-plus"></i></button>
            </ion-item>
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>variants</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div></div>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note class="stock-left">
                  45 left
                </ion-note>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
