<ion-header>
  <ion-navbar>
    <ion-buttons left class="nav-left">
      <ion-row>
        <ion-col>
          <button ion-button icon-only menuToggle class="menu-toggle">
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only clear class="home-btn" onClick="window.location.hash='/home'">
            <ion-icon ios="md-home" md="md-home"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
