page-list {
  .nav-left {
    ion-col {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .menu-toggle {
    margin: {
      top: 4px !important;
    }
  }

  .home-btn {
    // background-color: $main-hover-color !important;
    color: white !important;
  }
}
