<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title i18n>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCart()">
        <i class="o o-basket" style="font-size: 25px"></i>
        <ion-badge item-end color="danger" style="font-size: 12px;margin-bottom: 15px;padding: 1px !important">3</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="cats">
    <ion-grid>
      <ion-row align-self-center>
        <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 *ngFor=" let category of categories" style="text-align: center;">
          <!--          <ion-card ion-button class="thumbnail" style="height:100%;width:100%;padding-top: 20px;padding-bottom: 20px">
            <button style="background: none !important;height:100%;width:100%;">
              <div>
                <div style="float: left">
                  Prices
                </div>
                <div style="float: right">
                  {{item.price}}
                </div>
              </div>
              <div style="text-align: center;height: 50px;width: 50px">
                <img class="group list-group-image" class="svg" style="" [src]="item.src">
              </div>
              <div class="item-note-gride" style="margin-top: 20px">
                <div style="float: left">
                  <button>Add To Cart</button>
                </div>
                <div style="float: right">
                </div>
              </div>
            </button>
          </ion-card> -->
          <ion-card>
            <ion-thumbnail>
              <img [src]="category.src"/>
            </ion-thumbnail>
            <ion-card-content>
             <h2>{{category.name}}</h2>
            </ion-card-content>
            <!-- <div class="card-title">São Paulo</div>
            <div class="card-subtitle">41 Listings</div> -->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="cat-product" *ngFor=" let category of categories">
    <div class="head">
      <div class="hleft">{{category.name}}</div>
      <div class="hright"><a href="javascript:alert(`I don't know what to do.`);">View All</a></div>
    </div>
    <ion-scroll scrollX="true" direction="x">
      <div class="sc-itm" *ngFor=" let item of items">
        <ion-card>
          <ion-card-header>
            <ion-item>
              <div class="disc" item-start>
                <p> 10% OFF</p>
              </div>
              <div class="a2c" item-end>
                <button ion-button icon-only clear item-end (click)=" showProductDetails() ">
                  <i class="o o-cart-plus"></i>
                </button>
              </div>
            </ion-item>
          </ion-card-header>
          <ion-thumbnail center>
            <img [src]="item.src">
          </ion-thumbnail>
          <ion-card-content>
            <ion-label>{{item.name}}</ion-label>
            <div style="display: inline-block;font-size: 12px;">
              <span>
                  <span style="text-decoration: line-through;">&#8377;450</span>
              </span>
              <span>
                      <span>&#8377;{{item.price}}</span>/<span>500</span>
              <span>{{item.unit}}</span>
              </span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-scroll>
  </div>
  <!--   <div class="cat-comp" *ngFor=" let category of categories">
    <div class="head">
      <div class="hleft">{{category.name}}</div>
      <div class="hright"><a href="javascript:alert(`I don't know what to do.`);">View All</a></div>
    </div>
    <ion-scroll scrollX="true" direction="x">
      <div class="scroll-cart" *ngFor=" let item of items">
        <ion-card class="thumbnail">
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="item.src">
            </ion-thumbnail>
            <h2>{{item.name}}</h2>
            <h3>Complan</h3>
            <p class="price">
              <span class="old-mrp">
                <span><span>&#8377;</span>450</span>
              </span>
              <span class="cur-mrp"><span><span>&#8377;</span>{{item.price}}</span>/<span>500</span><span>{{item.unit}}</span></span>
            </p>
            <button ion-button icon-only clear item-end (click)="showProductDetails()">
              <i class="o o-cart-plus"></i>
            </button>
          </ion-item>
        </ion-card>
      </div>
    </ion-scroll>
  </div> -->
</ion-content>
