page-home {
  .button {
    &:hover {
      &:not(.disable-hover) {
        background-color: white;
      }
    }
  }

  // .cat-comp {
  //   .head {
  //     background-color: lighten($main-secondary-color, 30%);
  //     color: darken($main-color, 10%);
  //     font: {
  //       family: 'Roboto', 'Helvetica Neue', 'sans-serif';
  //       weight: 500;
  //     }
  //     padding: 6px;

  //     .hleft,
  //     .hright {
  //       display: inline-block;
  //       margin: 4px;
  //     }

  //     .hleft {
  //       text-align: left;
  //     }

  //     .hright {
  //       float: right;
  //       text-align: right;
  //     }
  //   }

  //   ion-scroll {
  //     height: 100px;
  //     // overflow: scroll;
  //     white-space: nowrap;

  //     .scroll-content {
  //       // &::-webkit-scrollbar-track{
  //       // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
  //       // 	border-radius: 10px !important;
  //       // 	background-color: #F5F5F5 !important;
  //       // }

  //       // &::-webkit-scrollbar{
  //       // 	width: 6px !important;
  //       // 	height: 8px !important;
  //       // 	background-color: #F5F5F5 !important;
  //       // }

  //       // &::-webkit-scrollbar-thumb{
  //       // 	border-radius: 10px !important;
  //       // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
  //       // 	background-color: #23AAE2 !important;
  //       // }
  //     }

  //     .scroll-cart {
  //       display: inline-block;

  //       margin: {
  //         left: 2px;
  //         right: 2px;
  //       };
  //     }

  //     .thumbnail {
  //       height: 100%;
  //       margin: 0 !important;
  //       width: 100%;

  //       h2,
  //       h3 {
  //         font: {
  //           size: 12px;
  //         };
  //       }

  //       img {
  //         height: 70px;
  //         width: 70px;
  //       }

  //       i {
  //         color: $main-color;

  //         font: {
  //           size: 8px;
  //         };
  //       }
  //     }
  //   }
  // }

  .cats {
ion-thumbnail{
  padding: 0px;
  border:2px solid $main-color;
}
ion-card-content{
  padding: 0px;
  height: 40px;
  line-height: 40px;
  border:1px solid $main-color;
  background-color:$main-color;
  h2 {
    margin:0;
    white-space:normal;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    color:#fff;
    font-size:12px;
  }
}
    .thumbnail {
      height: 100%;
      margin: 0 !important;
      width: 100%;

      img {
        height: 70px;
        width: 70px;
      }
    }
  }

  .cat-product {
    margin:{
      top:15px;
      bottom:15px;
    }
    .head {
      background-color: lighten($main-color, $main-background-percent+-35%);
      color: #fff;
      font: {
        family: 'Roboto', 'Helvetica Neue', 'sans-serif';
        weight: 500;
      }
      padding: 6px;

      .hleft,
      .hright {
        display: inline-block;
        margin: 4px;
      }

      .hleft {
        text-align: left;
      }

      .hright {
        float: right;
        text-align: right;

        a {
					color: #fff;
        }
      }
    }

    ion-scroll {
      height: 220px;
      // overflow: scroll;
      white-space: nowrap;

      .scroll-content {
        // &::-webkit-scrollbar-track{
        // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
        // 	border-radius: 10px !important;
        // 	background-color: #F5F5F5 !important;
        // }

        // &::-webkit-scrollbar{
        // 	width: 0px !important;
        // 	height: 0px !important;
        // 	background-color: #F5F5F5 !important;
        // }

        // &::-webkit-scrollbar-thumb{
        // 	border-radius: 10px !important;
        // 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
        // 	background-color: #23AAE2 !important;
        // }
      }

      .scroll-cart {
        display: inline-block;

        margin: {
          left: 2px;
          right: 2px;
        };

        img {
          height: 50% !important;
          margin: auto;
          width: 50%;
        }
      }

      .sc-itm {
        display: inline-block;

        ion-card {
          height: 210px !important;
          margin: 0 !important;
          width: 200px !important;

          ion-card-header {
            margin-right: 3px;
            padding: 0 !important;

            .disc {
              height: 30px;
              margin-bottom: 0;
              margin-top: 0;
              padding-top: 2px;
              p {
            		color: $main-color !important;
                font:{
                  weight: 500;
                }
	            }
            }

            .a2c {
              margin-top: 0;

              button {
              	color: $main-color !important;
                height: 30px;
                margin-bottom: 0;
                margin-top: 0;
                padding-top: 0;

                i {
                  font: {
                    size: 20px;
                  };
                }
              }
            }
          }

          ion-thumbnail {
            img {
              -webkit-user-drag: none;
              height: 100px !important;
              margin: auto;
              width: 100px !important;
            }
          }
          ion-label {
            margin :0;
          }
        }
      }
    }
  }
}
