// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: '../assets/fonts';


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
@import 'ionic.globals';


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$themes: (
  RedTheme:        (base: #f44336, contrast: #fff, hover: lighten(#f44336, 40%)),
  PinkTheme:       (base: #e91e63, contrast: #fff, hover: lighten(#e91e63, 30%)),
  PurpleTheme:     (base: #9c27b0, contrast: #fff, hover: lighten(#9c27b0, 50%)),
  DeeppurpleTheme: (base: #673ab7, contrast: #fff, hover: lighten(#673ab7, 50%)),
  IndigoTheme:     (base: #3f51b5, contrast: #fff, hover: lighten(#3f51b5, 50%)),
  BlueTheme:       (base: #2196f3, contrast: #fff, hover: lighten(#2196f3, 40%)),
  LightblueTheme:  (base: #03a9f4, contrast: #fff, hover: lighten(#03a9f4, 40%)),
  CyanTheme:       (base: #00bcd4, contrast: #fff, hover: lighten(#00bcd4, 40%)),
  TealTheme:       (base: #009688, contrast: #fff, hover: lighten(#009688, 65%)),
  GreenTheme:      (base: #4caf50, contrast: #fff, hover: lighten(#4caf50, 47%)),
  LightgreenTheme: (base: #8bc34a, contrast: #fff, hover: lighten(#8bc34a, 40%)),
  LimeTheme:       (base: #cddc39, contrast: #fff, hover: lighten(#cddc39, 40%)),
  YellowTheme:     (base: #ffeb3b, contrast: #fff, hover: lighten(#ffeb3b, 40%)),
  AmberTheme:      (base: #ff8f00, contrast: #fff, hover: lighten(#ff8f00, 48%)),
  OrangeTheme:     (base: #ff9800, contrast: #fff, hover: lighten(#ff9800, 40%)),
  DeeporangeTheme: (base: #ff5722, contrast: #fff, hover: lighten(#ff5722, 30%)),
  BrownTheme:      (base: #795548, contrast: #fff, hover: lighten(#795548, 60%)),
  GreyTheme:       (base: #9e9e9e, contrast: #fff, hover: lighten(#9e9e9e, 40%)),
  BluegreyTheme:   (base: #607d8b, contrast: #fff, hover: lighten(#607d8b, 50%)),
  BlackTheme:      (base: #000   , contrast: #fff, hover: lighten(#000   , 90%)),
  TurquoisTheme:   (base: #45b8ac, contrast: #fff, hover: lighten(#45b8ac, 40%)),
  TwitterTheme:    (base: #55acee, contrast: #fff, hover: lighten(#55acee, 55%)),
  FbTheme:         (base: #3b5998, contrast: #fff, hover: lighten(#3b5998, 50%)),
  IntelTheme:      (base: #0f7dc2, contrast: #fff, hover: lighten(#0f7dc2, 55%)),
  TawnyTheme:      (base: #672e3b, contrast: #fff, hover: lighten(#672e3b, 65%)),
  Blue-800Theme:   (base: #0277bd, contrast: #fff, hover: lighten(#0277bd, 60%))
);

//App Primary color
$choose-primary-color: 'TurquoisTheme';
$main-color: color($themes, $choose-primary-color, base);
$main-hover-color: color($themes, $choose-primary-color, hover);
$main-text-color: color($themes, $choose-primary-color, contrast);

//App Secondary color
$choose-secondary-color: 'AmberTheme';
$main-secondary-color: color($themes, $choose-secondary-color, base);
$main-hover-secondary-color: color($themes, $choose-secondary-color, hover);
$main-text-secondary-color: color($themes, $choose-secondary-color, contrast);

$main-background-percent: 48%;

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  select: color($themes, DeeporangeTheme, base),
  btn: color($themes, AmberTheme, base),
  accent: $main-color,
  accent-sec: $main-hover-secondary-color
);

$fa-font-path: $font-path;

$grid-breakpoints: (
  xs: 0,
  sm: 350px,
  md: 600px,
  lg: 800px,
  xl: 1180px
);

// $grid-max-widths: (
// 	// xs: 420px,
// 	sm: 420px,
// 	md: 720px,
// 	lg: 960px
// );

// App iOS Variables
// --------------------------------------------------
$toolbar-ios-title-text-color: $main-text-color;
$tabs-ios-tab-text-color-active: $main-color;
$tabs-ios-tab-icon-color-active: $main-color;
// $searchbar-ios-background-color: none;
$toolbar-ios-button-color: $main-text-color;
$toggle-ios-background-color-on: $main-color;
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
$toolbar-md-title-text-color: $main-text-color;
$tabs-md-tab-text-color-active: $main-color;
$tabs-md-tab-icon-color-active: $main-color;
$item-md-detail-push-show: true;
$toggle-md-background-color-on: $main-color;
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
$app-direction: ltr;
$toolbar-background: $main-color;

// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import 'ionic.ionicons';


// Fonts
// --------------------------------------------------

@import 'roboto';
@import 'noto-sans';
@import 'oloji';
