page-view-cart {
  .prod-lst {
    background-color: transparent;

    .image {
      border: 2px solid #fff;
      border-radius: 50%;
      box-shadow: 0 0 5px gray;
      display: inline-block;
      height: 5vw;
      margin-left: auto;
      margin-right: auto;
      width: 5vw;
    }

    .det {
      border-bottom: 2px solid #ccc;
      margin: 0;
      padding: 2px;

      .item-inner {
        border: 0 !important;
      }

      .old-mrp {
        text-decoration: line-through;
      }

      .cur-mrp {
        color: $main-color !important;
      }

      .stock-left {
        color: $main-secondary-color !important;
      }

      .a2c {
        height: 35px;

        i {
          color: color($colors, danger) !important;

          font: {
            size: 30px !important;
          }

          &:hover {
            color: darken(orange, 0%) !important;
          }
        }
      }

      h2,
      h3,
      .price {
        font: {
          size: 14px !important;
        };
      }

      h2 {
        white-space: normal;
      }

      h3 {
        color: darken($main-color, 20%) !important;

        font: {
          size: 10px;
          weight: bold;
        };
      }
    }

    ion-list {
      font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
    }

    ion-label {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}