<ion-header>
  <ion-toolbar>
    <ion-title>View Cart</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" class="dismiss">
        <span ion-text color="light" showWhen="ios">Cancel</span>
        <span ion-text color="accent-sec" hideWhen="ios">CLOSE</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="prod-lst">
    <ion-item class="det" *ngFor='let item of ["","","","","","","","","","","","",""]'>
      <ion-item>
        <ion-thumbnail item-start>
          <img class="circle-pic" src="https://res.cloudinary.com/ziobasket/image/upload/w_200,h_200,q_auto/ProductImages/SKU000010030.jpg">
        </ion-thumbnail>
        <h2>Product Name Product Name</h2>
        <h3>Complan</h3>
        <p class="price">
          <span class="old-mrp"><span><span>&#8377;</span> 450</span>
          </span>
          <span class="cur-mrp"><span><span>&#8377;</span>200</span>/<span>500</span><span>g</span></span>
        </p>
        <button ion-button icon-only clear item-end class="a2c" (click)="showProductDetails()"><i class="o o-cart-minus"></i></button>
      </ion-item>
      <ion-item>
        <span item-start style="margin:2px;"><span>Q <span>2</span> Kg</span>
        </span>
        <span item-end style="margin:2px;"><span><span>&#8377;</span>200</span>/<span>-</span><span></span></span>
      </ion-item>
    </ion-item>
    <ion-item style="padding: 10px;padding-left: 30px;font-weight: bold;">
      <div>
        <span>Total</span>
        <span style="float: right;">&#8377; 40000</span>
      </div>
    </ion-item>
    <ion-item>
      <ion-buttons end>
        <button ion-button color="btn" (click)="login()">Continue</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
