<ion-menu [content]="content" id="menu-components">
	<ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<!--Side Menu with avatar-->
<ion-menu [content]="content" id="menu-avatar">
	<ion-content>
		<div #header>
			<ion-row style="align-items:center;">
				<ion-col col-3>
					<img src="assets/icon/icon-email.svg" />
					<span class="icon-badge">4</span>
				</ion-col>
				<ion-col col-6>
					<img class="user-avatar round" [src]="chosenPicture || placeholder" onerror="this.src='assets/imgs/logo/logo.png'" />
				</ion-col>
				<ion-col col-3>
					<img src="assets/icon/icon-calendar.svg" />
				</ion-col>
			</ion-row>
			<ion-row style="justify-content: center;">
				<h3>{{env.APP_NAME}}</h3>
			</ion-row>
		</div>
		<ion-list no-lines>
			<button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
				<!--<ion-icon [name]="p.icon" item-left></ion-icon>-->
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<!--Material Design Menu-->
<ion-menu [content]="content" id="menu-material">
	<ion-content>
		<div class="menu-header">
			<ion-row>
				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="mail"></ion-icon>
					</button>
				</ion-col>
				<ion-col>
					<button ion-button icon-left clear small>
						<ion-icon name="call"></ion-icon>
					</button>
				</ion-col>
				<ion-col center text-center>
					<button ion-button icon-left clear small>
						<ion-icon name="logo-facebook"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
			<!--material-design-background-->
			<!-- <img class="user-avatar round" [src]="chosenPicture || placeholder" onerror="this.src='assets/icon/ecommerce.svg'" /> -->
			<ion-row style="justify-content: center;">
				<h3>{{env.APP_NAME}}</h3>
			</ion-row>
			<!-- <p class="e-mail">{{env.APP_EMAIL}}</p> -->
			<!-- <p>{{env.APP_CONTACT}}</p> -->
			<ion-row>
				<ion-col>
					<div class="e-mail">{{env.APP_EMAIL}}</div>
				</ion-col>
				<ion-col>
					<div>{{env.APP_CONTACT}}</div>
				</ion-col>
			</ion-row>
		</div>
		<!-- <ion-list no-lines> -->
		<ion-list>
			<button menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
				<ion-icon [name]="p.icon" item-left></ion-icon>
				{{p.title}}
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
