// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body,
ion-content  {
  background-color: lighten($main-color, $main-background-percent) !important;
}

// Sidemenu with avatar
#menu-avatar {

  .user-avatar {
    padding: .5em;
  }

  h3,
  .label {
    color: #fff;
    font-weight: bold;
  }

  .item {
    background: transparent;
  }

  ion-content {
    background: linear-gradient(48deg, rgba(157, 72, 173, 0.8) 0%, rgba(157, 72, 173, 0.86) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%);
  }

  .menu-inner {
    background: rgba(255, 255, 255, .3);
  }
}

// Material Design Sidemenu
#menu-material {
  .menu-header {
    // background-image: url('../assets/imgs/misc/material-design-background.jpg');
    background-image: linear-gradient(to top, darken($main-color, 30%) 0%, lighten($main-color, 10%) 100%);
    background-size: cover;
    color: #fff;
    height: 150px;
    padding: 5px 15px;

    .name {
      font-weight: 500;
      margin-bottom: 3px;
      margin-top: 30px;
      text-align:center;
    }

    .e-mail {
      margin-bottom: 2px;
      margin-top: 0;
    }
  }

  .user-avatar {
    height: 12vh;
    padding: .5em;
  }

  h3 {
    color: #ddd;
    font-weight: 400;
  }

  .label {
    color: #888;
    font-weight: 400;
  }

  ion-icon {
    color:lighten($main-color, 10%) !important;
  }
  ion-row {

    ion-col {
      text-align: center;

      ion-icon {
        color: #fff !important;
      }
    }
  }
  ion-content {
    //background-color: white !important;
     background-image: linear-gradient(to right, #fff 0%, lighten($main-color, 30%) 100%);
  }
  .item {
    background: transparent;
  }
}
@import '../theme/animate';