<ion-header>
  <ion-toolbar>
    <ion-title>Description</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" class="dismiss">
        <span ion-text color="light"  showWhen="ios">Cancel</span>
        <span ion-text color="accent-sec" hideWhen="ios">CLOSE</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <h2>Everest Kasuri Meethi</h2>
      <p>Everest</p>
    </ion-item>
    <ion-thumbnail class="thumb">
      <img src="https://res.cloudinary.com/ziobasket/image/upload/w_200,h_200,q_auto/ProductImages/SKU000000419.jpg">
    </ion-thumbnail>
    <!-- <ion-card-content text-center> -->
    <ion-row class="price">
      <ion-col center text-right>
        <div class="mrp">&#8377; 1428 </div>&nbsp;
      </ion-col>
      <ion-col center text-left>
        <div class="sp">&nbsp; &#8377; 1259</div>
      </ion-col>
    </ion-row>
    <!-- </ion-card-content> -->
    <ion-row>
      <ion-col center text-center>
        <button ion-button block id="B1" color="select" [ngClass]="changePacket('B1')" (click)="changePacket($event)">250 g</button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button block outline color="select" id="B2" [ngClass]="this.id==buttonClass?'sel':'not-sel'" (click)="changePacket($event)">500 g</button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button block outline color="select" id="B3" [ngClass]="this.id==buttonClass?'not-sel':'sel'" (click)="changePacket($event)">750 g</button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button block outline color="select" id="B3" [ngClass]="this.id==buttonClass?'not-sel':'sel'" (click)="changePacket($event)">1 Kg</button>
      </ion-col>
      <ion-col center text-center>
        <button ion-button block outline color="select" id="B3" [ngClass]="this.id==buttonClass?'not-sel':'sel'" (click)="changePacket($event)">5 Kg</button>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input text-right type="text"></ion-input>
    </ion-item>
    <!--     <ion-item>
      <ion-label>Choose Items</ion-label>
      <ion-select [(ngModel)]="notifications" interface="action-sheet">
        <ion-option value="enable">1</ion-option>
        <ion-option value="mute">2</ion-option>
        <ion-option value="mute_week">3</ion-option>
        <ion-option value="mute_year">4</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-row>
        <ion-col center>
          <button ion-button full block (click)="dismiss()">Buy Now</button>
        </ion-col>
        <ion-col center>
          <button ion-button full block color="btn" (click)="dismiss()">Add to Cart</button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>
