page-show {
  .dismiss {

    span {
      color: lighten($main-secondary-color, 45%);
    }
  }

  .thumb {
    height: 200px;
    text-align: center;
    width: 100%;

    img {
      margin: auto;
      width: 200px;
    }
  }

  h2 {
    color: $main-color !important;
    font: {
      size: 26px !important;
      weight: bold;
    }
  }

  .price {
    height: 36px !important;

    .sp {
      color: $main-secondary-color;
      font: {
        size: 20px;
        // weight: bold;
      }
    }

    .mrp {
      color: #999;

      font: {
        size: 20px;
      }
      text-decoration: line-through;
    }
  }
}
